.prompt-input{
    display: flex;
    justify-content: space-between;
    min-height: 1.2rem;
    padding: 10px;
    margin: 10px auto;
    background-color: #aaaebb;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
}
.prompt-input-textarea{
    width: 100%;
    background-color: #aaaebb !important;
    min-height: 1rem;
    max-height: 200px;
    border: none;
    outline: none;
    resize: vertical;
}
.prompt-input-attachment{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    border-radius: 50%;
    background-color: #aaaebb;
    cursor: pointer;
}